<h1>Chamas</h1>


{{!-- display list of chamas with edit and delete button --}}

<div class="chamas-list">
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td{
            padding: 15px;
        }
    </style>
    <ul>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
        {{#each Chamas }}
            <tr>
             <td> {{ name }}</td>
             <td><span><a href ="/chamas/edit/{{id}}">Edit</a></td></span></td>
             <td><span><a href ="/chamas/{{id}}">Delete</a></td></span></td>
             <td><span><a href ="/chamas/accept/{{id}}">Accept</a></td></span></td>
            </tr>
        {{ else }}
            </tbody>
            <li> No chamas available</li>
        {{/each }}
        </table>
    </ul>
</div>