
<h3>Add Members</h3>

<form action="/user/add" method="POST">
    <div class="form-group">
        <input type="text" placeholder="email@mail.com" name="email">
        <input type="text" placeholder="firstname" name="firstname">
        <input type="hidden" name="userStatus" value="0">
        <input type="hidden" name="ChamaId" value="{{Chamas.id}}">
    </div>
    <br>
    <div class="form-group">
        <input type="text" placeholder="email@mail.com" name="email">
        <input type="text" placeholder="firstname" name="firstname">
        <input type="hidden" name="userStatus" value="0">
        <input type="hidden" name="ChamaId" value="{{Chamas.id}}">
    </div>
    <br>
    <div>
        <input type="submit" value="Send Invites">
    </div>
</form>

<div>
    <h3>Invited Members</h3>
    <ul>
        {{#each Chamas.Users}}
            <li>{{email}} <span id="status" class="{{userStatus}}" style="background-color: brown; padding:5px; color:white;">Pending</span></li><br>
        {{else}}
            <p>No members</p>
        {{/each}}

    </ul>
</div>
<script>
    window.onload = function() {
        var pending = 0
        var active = 1
        var rejected = 2

        var current = document.getElementById('status').className
        //has to happen in a loop - use handlebar helpers
        if(current === pending){
            document.getElementById('status').innerHTML = "Pending"
        } else ( current === active) {
            document.getElementById('status').innerHTML = "Active"
        } else if( current === rejected) {
            document.getElementById('status').innerHTML = "Rejected"
        }
    }
</script>