<h1>Votes</h1>

{{!-- add Votes form --}}
{{!--
    question, description, answer, pollDate --}}

<form action="/votes/add" method="POST">
  <input type="text" value="" name="question" placeholder="Vote Topic">
  
  <br><br> 

  <input type="text" value="" name="description" placeholder="Vote Description"> 
  
  <br><br>

  <input type="text" value="" name="answer" placeholder="Final Vote Tally"> 

  <br><br>

  <input type="text" value="" name="pollDate" placeholder="Vote Date"> 

  <br><br>

  <input type="submit" value="Creat New Vote ">
</form>



{{!-- display list of polls with edit and delete button --}}

<div class="votes-list">
      <style>
        table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
        th, td{
            padding: 15px;
        }
    </style>
    <ul>
         <table>    
        <th>Poll Date</th><th>Question</th><th>Description</th><th>Votes Cast</th><th>Options</th>
        {{#each Votes }}
        <tr>
             <td> {{ pollDate}}</td> <td> {{question}}</td> <td>{{description}}</td> <td>{{answer}}</td> <td><span><a href="/votes/{{id}}">Delete</a></span></td>
        </tr>
        {{ else }}
            <li> No votes available</li>
        {{/each }}
    </ul>
</div>